/* Global settings */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

button {
    
}

/* "body" settings */
body {
    background-color: black;
}

/* "header" settings */
header {
    background-color: rgb(25, 25, 25);
    size: 100% 20%;
    color: white;
    font-size: 45px;
    padding: 0.8%;
    align-items: middle;
}


/* "main" settings */

#Add_Task {

}

#Add_Section {

}